{% extends "layout.html" %}

{% block body %}
	{% for key, vault in vaults.items() %}
		<div class="vaults">
			<p id="index">#{{ key }}</p>
			<p>{{ vault[0] }}</p>
			<p>{{ vault[1] }}</p>
			<div>
				<p>owner:</p>
				<p>{{ vault[2] }}</p>
			</div>
			<div>
				<p>signers:</p>
				<p>{{ vault[3][0] }}</p>
				<p>{{ vault[3][1] }}</p>
			</div>
			<p>{{ vault[4][0] }} | {{ vault[4][1] }}</p>
			<p>{{ vault[5] }}</p>
			<p>{{ vault[6] }}</p>
		</div>
	{% endfor %}
	<div>
		<a href="/">Return to homepage</a>
	</div>
{% endblock %}
